<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="contact-sec cf">
                <h1>Need Assistance?</h1>
                <div class="map-view">
                    <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2941.682740364963!2d-83.51945428430409!3d42.49829703435253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824a8c58f57832b%3A0x49a018ce4c562d08!2s28221%20Beck%20Rd%2C%20Wixom%2C%20MI%2048393%2C%20USA!5e0!3m2!1sen!2sin!4v1650868620553!5m2!1sen!2sin" width="100$" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="contact-form cf">
                    <div class="row">
                        <div class="col-md-1 col-lg-2"></div>
                        <div class="col-md-10 col-lg-8">
                            <div class="general-bx w-100 mb-5">
                                <h2>Get In Touch With Us</h2>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group cf">
                                                <input type="text" id="fname" name="fname" class="is-form-control lg-control" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group cf">
                                                <input type="text" id="lname" name="lname" class="is-form-control lg-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group cf">
                                                <input type="email" id="email" name="email" class="is-form-control lg-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group cf">
                                                <input type="text" id="phone" name="phone" class="is-form-control lg-control" placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group cf">
                                                <textarea class="is-form-control lg-control" placeholder="Message" rows="5"></textarea>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="text-center mt-4 mb-4">
                                        <button type="submit" class="main-btn lg-btn text-capitalize">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-2"></div>
                    </div>
                    <div class="row d-md-flex justify-content-center">

                        <div class="col-md-4 col-lg-3 d-flex align-items-stretch">
                            <div class="general-bx contact-info text-center cf">
                                <figure>
                                    <img src="assets/images/phone-ico.png">
                                </figure>
                                <h3>Call Now</h3>
                                <p>+91 123 456 7890, <br>
                                    +91 987 654 3210</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 d-flex align-items-stretch">
                            <div class="general-bx contact-info text-center cf">
                                <figure>
                                    <img src="assets/images/map-ico.png">
                                </figure>
                                <h3>Location</h3>
                                <p>28221 Beck Rd Ste A9 <br>
                                    Wixom, MI 48393</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 d-flex align-items-stretch">
                            <div class="general-bx contact-info text-center cf">
                                <figure>
                                    <img src="assets/images/mail-ico.png">
                                </figure>
                                <h3>Email Now</h3>
                                <p><a href="mailto:info@krediyo.com">info@krediyo.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>