<div class="page-wrap">
    <div class="login-sec vh-100 cf">
        <div class="logo-login text-center cf">
            <figure>
                <a href=""><img src="assets/images/logo.png"></a>
            </figure>
        </div>
        <div class="login-outer-main d-md-flex justify-content-center cf">
            <div class="login-inner cf">
                <div class="general-bx">
                    <h1>Forgot your password?</h1>
                    <p>It happens, we get it. Enter your email & we will get it taken care of.</p>
                    <form>
                        <div class="form-group cf">
                            <input type="text" id="email" name="email" placeholder="Email*" class="is-form-control">
                        </div>

                        <div class="form-group pt-3 cf">
                            <button type="submit" id="login" name="login" class="main-btn md-btn w-100 text-capital">Reset</button>
                        </div>
                        <small class="no-login">Go back into  <a href="">Log In.</a></small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>