<div class="footer-join-sec">
    <div class="container">
        <div class="row d-md-flex justify-content-between align-items-center">
            <div class="col-md-12 col-lg-6">
                <h2>Improve your credit, improve your life, with revolv.</h2>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="free-today-form cf">
                    <form class="form-inline">
                        <div class="form-group">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="is-form-control" id="inputPassword2" placeholder="Enter Email Address">
                        </div>
                        <button type="submit" class="second-btn lg-btn">Confirm identity</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-sec cf">
    <div class="container">
        <div class="d-md-flex justify-content-between flex-nowrap mb-3 pb-3 mb-md-2 pb-md-5">
            <div class="footer-logo">
                <a href="">
                    <img src="assets/images/logo.png">
                </a>
            </div>
            <div class="footer-social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="d-lg-flex justify-content-between flex-nowrap">
            <ul class="order-md-2">
                <li><a href="">About Us</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Log In</a></li>
                <li><a href="">Sign Up</a></li>
            </ul>
            <p class="order-md-1">© Copyright 2022 All Rights Reserved.</p>
        </div>
    </div>
</footer>