<div class="page-wrap">
    <div class="login-sec vh-100 cf">
        <div class="logo-login text-center cf">
            <figure>
                <a href=""><img src="assets/images/logo.png"></a>
            </figure>
        </div>
        <div class="position-relative login-outer-main d-lg-flex justify-content-center flex-column cf">
            <div class="step-outer-sec">
                <div class="step-bxs-main cf">
                    <h1>Welcome, Sarah!</h1>
                    <p class="congrate-txt">Congrats! Your first credit building payment was successful.</p>
                    <div class="d-md-flex justify-content-center align-items-stretch">
                        
                        <div class="step-plan-bx col-md-6">
                            <div  class="general-bx text-center cf">
                                <div class="planlist">
                                    <h4>Build & Learn</h4>
                                    <h2>
                                        <small>$</small>
                                        <span>19.95</span>
                                        <sub>/mo</sub>
                                    </h2>
                                    <p>$3,000 Spending Limit</p>
                                    <p>3.325% Utilization</p>
                                    <p>High Quality Video Content</p>
                                    <p>0% Interest</p>
                                    <p>No Fee Guarantee</p>
                                    <p>No Fee Guarantee</p>
                                    <figure>
                                        <img src="assets/images/clap-ico.png">
                                    </figure>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <h6>We have created a custom catalog based on your interests, Get started below to to browse your custom content!</h6>
                </div>
                <div class="step-bxs-main text-center cf">
                    <button type="submit" class="main-btn lg-btn  mt-2">
                        GET STARTED
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>