<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
                 
                <div class="col-md-12 col-lg-4 col-xl-3 mb-3">
                    <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS START   ***********  -->
                    <div class="is-dotted-bx">
                        <em>LEFT MENU</em>
                        <a href="javascript:void(0)" class="is-dotted-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        </a>
                    </div>
                    <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS END   ***********  -->
                    <div class="general-bx left-menu lft-nav cf">
                        <ul>
                            <li><a href="">Content Library</a></li>
                            <li><a href="">Favorites</a></li>
                            <li><a href="">My Material</a></li>
                            <li><a href="">My Plan</a></li>
                            <li><a href="">Credit Summary</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 col-xl-8 mb-3">
                    <h1>Edit Profile</h1>
                    <div class="general-bx minheight cf">
                        <div class="user-pro-outer col-lg-11 cf">
                            <form>
                                <div class="upload-profile">
                                    <figure>
                                        <input type="file" id="profile-upload" name="profile-upload">
                                        <small>Change Image</small>
                                    </figure>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group cf">
                                            <input type="text" id="fname"  name="fname" placeholder="Sarah" class="is-form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group cf">
                                            <input type="text" id="lname"  name="lname" placeholder="Downey" class="is-form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group cf">
                                            <input type="email" id="email"  name="email" placeholder="sarah.dawney@gmail.com" class="is-form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group cf">
                                            <input type="text" id="date"  name="date" placeholder="Jan 29, 1993" class="is-form-control" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group cf">
                                            <input type="number" id="number"  name="number" placeholder="+1 9483 930 2832" class="is-form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group cf">
                                            <input type="text" id="ssn"  name="ssn" placeholder="078-05-1120" class="is-form-control" readonly>
                                            <em class="ssn-txt">SSN</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group cf">
                                            <input type="text" id="address"  name="address" placeholder="ATTN: Overnight Deposits 1200 Energy Park Dr. St. Paul, MN 55108 " class="is-form-control">
                                        </div>
                                    </div>
                                </div>

                                <h4>Interests</h4>
                                <div class="edit-interest d-md-flex flex-wrap justify-content-start mb-5">
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-1" name="edit-int" checked>
                                        <label for="edit-int-1">Business</label>
                                    </div>
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-2" name="edit-int" checked>
                                        <label for="edit-int-2">Web Design</label>
                                    </div>
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-3" name="edit-int" checked>
                                        <label for="edit-int-3">Financial</label>
                                    </div>
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-4" name="edit-int">
                                        <label for="edit-int-4">Marketing</label>
                                    </div>
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-5" name="edit-int">
                                        <label for="edit-int-5">Programming</label>
                                    </div>
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-6" name="edit-int">
                                        <label for="edit-int-6">Development</label>
                                    </div>
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-7" name="edit-int">
                                        <label for="edit-int-7">Advertising</label>
                                    </div>
                                    <div class="flat-checkbox p-3">
                                        <input type="checkbox" id="edit-int-8" name="edit-int">
                                        <label for="edit-int-8">Video Game</label>
                                    </div>
                                </div>
                                <button type="submit" id="save" name="save" class="main-btn md-btn text-capitalize mr-1 mr-md-4 mb-2">Save Profile</button>
                                <button type="reset" id="reset" name="reset" class="outer-dark-btn text-capitalize md-btn">Clear Now</button>
                            </form>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>