<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2"></div>
                <div class="col-md-8 col-lg-8">
                    <div class="general-bx minheight cf">
                        <div class="notfound-screen text-center p-3 p-md-5 cf">
                            <figure class="mb-4">
                                <img src="assets/images/not-found-4040.svg" width="300">
                            </figure>
                            <h2>Page Not Found</h2>
                            <h6 class="mt-4">We're sorry, the page ou requested could not be found Please go back to the Homepage</h6>
                            <button type="reset" class="outer-dark-btn md-btn text-capitalize">Find Again</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>