<header class="header-sec after-header-sec cf" id="sticky">
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand logo" href="#">
            <span><img src="assets/images/logo.png"></span>
            <small>Welcome Sarah</small>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="srch-header position-relative">
                    <input type="text" id="search" name="search" class="is-form-control" placeholder="Search">
                    <button type="submit" class="btn">
                        <i class="icon-search"></i>
                    </button>
                </div>
              </li>
              <li class="nav-item">
                  <div class="notify-bx">
                      <a href="">
                        <figure>
                            <i class="icon-notify"></i>
                            <div class="alert-dot"></div>
                        </figure>
                        <small>My Notifications</small>
                      </a>
                  </div>
              </li>
              <li class="nav-item">
                <div class="user-drop">
                    <a class="dropdown-toggle" href="#" id="userdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <figure>
                            <img src="assets/images/user-pic.jpg">
                        </figure>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userdropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                </div>
            </li>
            </ul> -->
          </div>

          <div class="srch-header  collapse" id="collapseExample">
            <input type="text" id="search" name="search" class="is-form-control" placeholder="Search">
            <button type="submit" class="btn">
                <i class="icon-search"></i>
            </button>
        </div>
        <div class="notify-bx search-bx ml-auto">
            <a href="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <figure>
                <i class="icon-search"></i>
              </figure>
            </a>
        </div>
          <div class="notify-bx">
            <a href="">
              <figure>
                  <i class="icon-notify"></i>
                  <div class="alert-dot"></div>
              </figure>
            </a>
        </div>
          <button class="navbar-toggler is-user-toggle" type="button">
            <div class="user-drop">
              <a class="dropdown-toggle" href="#" id="userdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <figure>
                      <img src="assets/images/user-pic.jpg">
                  </figure>
              </a>
              <div class="dropdown-menu" aria-labelledby="userdropdown">
                  <a class="dropdown-item" href="#">Account Detail</a>
                  <a class="dropdown-item" href="#">Account Setting</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </button>
        </nav>
    </div>
</header>