<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-2"></div>
                <div class="col-md-12 col-lg-8">
                    <h1>Notification Settings</h1>
                    <div class="mynotification-sec mb-4 cf">
                        <div class="general-bx cf">
                            <ul>
                                <li>
                                    <div class="d-md-flex justify-content-between setting-bx pt-3 pb-3">
                                        <span>Upon successful payment</span>
                                        <div class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm">
                                            <label for="switch-sm"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-md-flex justify-content-between setting-bx pt-3 pb-3">
                                        <span>Upon plan renewal (24 hours prior to renewal date)</span>
                                        <div class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm2">
                                            <label for="switch-sm2"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-md-flex justify-content-between setting-bx pt-3 pb-3">
                                        <span>Upon successful renewal</span>
                                        <div class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm3">
                                            <label for="switch-sm3"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-md-flex justify-content-between setting-bx pt-3 pb-3">
                                        <span>Upon cancellation of plan</span>
                                        <div class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm4">
                                            <label for="switch-sm4"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-md-flex justify-content-between setting-bx pt-3 pb-3">
                                        <span>When the new content is added in the subscribed category</span>
                                        <div class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm5">
                                            <label for="switch-sm5"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-md-flex justify-content-between setting-bx pt-3 pb-3">
                                        <span>When the new content is added in Category1 and 4  (as this will be available to all) </span>
                                        <div class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm6">
                                            <label for="switch-sm6"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-md-flex justify-content-between setting-bx pt-3 pb-3">
                                        <span>Each time a payment is reported to my credit report</span>
                                        <div class="switch switch-sm">
                                            <input type="checkbox" class="switch" id="switch-sm7">
                                            <label for="switch-sm7"></label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>