<div class="page-wrap">
    <div class="login-sec vh-100 cf">
        <div class="logo-login text-center cf">
            <figure>
                <a href=""><img src="assets/images/logo.png"></a>
            </figure>
        </div>
        <div class="position-relative login-outer-main d-lg-flex justify-content-center cf">
            <div class="login-inner order-lg-2 cf">
                <div class="general-bx">
                    <h1>Welcome, glad you're here.</h1>
                    <p>Get started for free. Once you're ready, choose your plan to build & learn.</p>
                    <form>
                        <div class="form-group cf">
                            <input type="text" id="fname" name="fname" placeholder="First Name*" class="is-form-control">
                        </div>
                        <div class="form-group cf">
                            <input type="text" id="lname" name="lname" placeholder="Last Name*" class="is-form-control">
                        </div>
                        <div class="form-group cf">
                            <input type="text" id="email" name="email" placeholder="Email Address*" class="is-form-control">
                        </div>
                        <div class="form-group cf" id="show_hide_password-login">
                            <input type="password" id="pass" name="pass" placeholder="Password" class="is-form-control">
                            <div class="show-hide-pass">
                                <i class="icon-eye-close"></i>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <button type="submit" id="login" name="login" class="main-btn md-btn w-100 text-capital" disabled>Get Started</button>
                        </div>
                        <small class="no-login">Already have an account?  <a href="">Log in here.</a></small>
                    </form>
                </div>
            </div>
            <div class="follow-rules  order-lg-1">
                <ul>
                    <li>
                        <figure>
                            <img src="assets/images/fast-ico.svg">
                        </figure>
                        <h3>Fast</h3>
                        <p>Instant approval with your social security number. No credit check, no credit pull.</p>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/images/fees-ico.svg">
                        </figure>
                        <h3>No fees</h3>
                        <p>No interest or fees, ever.</p>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/images/secure-ico.svg">
                        </figure>
                        <h3>Secure</h3>
                        <p>Bank level encryption keeps your information secure.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>