<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
                 
                <div class="col-md-12 col-lg-4 col-xl-3 mb-3">
                    <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS START   ***********  -->
                    <div class="is-dotted-bx">
                        <em>LEFT MENU</em>
                        <a href="javascript:void(0)" class="is-dotted-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        </a>
                    </div>
                    <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS END   ***********  -->
                    <div class="general-bx left-menu lft-nav cf">
                        <ul>
                            <li><a href="">Content Library</a></li>
                            <li><a href="">Favorites</a></li>
                            <li><a href="">My Material</a></li>
                            <li><a href="">My Plan</a></li>
                            <li><a href="" class="active">Credit Summary</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 col-xl-9 mb-3">
                    <h1>My Credit Account</h1>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6 d-flex align-items-stretch mb-4">
                            <div class="general-bx w-100 cf">
                                <div class="summary-dtl cf">
                                    <h4>Account Summary</h4>
                                    <div class="method-bx cf">
                                        <em>You're all caught up! Here is a summary of your payment info. You're next payment will process in # days.</em>
                                        <div class="pay-style d-flex justify-content-between align-items-center">
                                            <span>Next payment due date</span>
                                            <small>April 29, 2022</small>
                                        </div>
                                        <div class="pay-style d-flex justify-content-between">
                                            <span>Your next scheduled payment <i class="fa fa-exclamation-circle" placement="top" ngbTooltip="Tooltip on top"></i></span>
                                            <small class="purple-color">$20.00</small>
                                        </div>
                                        <div class="pay-style d-flex justify-content-between">
                                            <span>Paypal</span>
                                            <div class="circle-btn">
                                                <a href="" class="width40 font22">
                                                    <i class="icon-edit"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 d-flex align-items-stretch mb-4">
                            <div class="general-bx w-100 cf">
                                <div class="summary-dtl cf">
                                    <h4>Account Details</h4>
                                    <div class="method-bx cf">
                                        <div class="pay-style d-flex justify-content-between align-items-center">
                                            <span>Utilization rate</span>
                                            <div class="progress" data-percentage="13">
                                                <span class="progress-left">
                                                    <span class="progress-bar"></span>
                                                </span>
                                                <span class="progress-right">
                                                    <span class="progress-bar"></span>
                                                </span>
                                                <div class="progress-value">
                                                    <div>
                                                        56%
                                                        <span>Excellent</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pay-style d-flex justify-content-between">
                                            <span>Statement balance <sub>Feb 22 - Feb 22</sub></span>
                                            <small>$24.00</small>
                                        </div>
                                        <div class="pay-style d-flex justify-content-between">
                                            <span>Account open date <i class="fa fa-exclamation-circle" placement="top" ngbTooltip="Tooltip on top"></i></span>
                                            <small class="purple-color">April 06, 2022</small>
                                        </div>
                                        <div class="pay-style d-flex justify-content-between">
                                            <span>Available credit</span>
                                            <small>$476.00</small>
                                        </div>
                                        <div class="pay-style d-flex justify-content-between">
                                            <span>Total credit</span>
                                            <small>$500.00</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 d-flex align-items-stretch mb-4">
                            <div class="general-bx w-100 cf">
                                <div class="summary-dtl cf">
                                    <h4>Payment Method</h4>
                                    <div class="add-new">
                                        <a href="">Add New</a>
                                    </div>
                                    <div class="method-bx cf">
                                        <div class="pay-style d-flex justify-content-between align-items-center">
                                            <span>Paypal <sub>(1RY8235WC6608)</sub></span>
                                            <div class="circle-btn">
                                                <a href="" class="width40 font22">
                                                    <i class="icon-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-6 d-flex align-items-stretch mb-4">
                            <div class="general-bx w-100 cf">
                                <div class="summary-dtl cf">
                                    <h4>Transaction History</h4>
                                    
                                    <div class="method-bx cf">
                                        <div class="thistory-bx">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h5>8FS54075XP02</h5>
                                                    </td>
                                                    <td>
                                                        <p>Feb 1, 2022 </p>
                                                    </td>
                                                    <td>
                                                        <p>$2.00</p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>