<div class="page-wrap">
    <div class="login-sec vh-100 cf">
        <div class="logo-login text-center cf">
            <figure>
                <a href=""><img src="assets/images/logo.png"></a>
            </figure>
        </div>
        <div class="position-relative login-outer-main d-lg-flex justify-content-center flex-column cf">
            <div class="step-numbers text-center cf">
                <a href=""><i class="icon-back"></i></a>
                <span>01/03</span>
            </div>
            <div class="step-outer-sec">
                <div class="step-bxs-main cf">
                    <h2>I'm interested in...</h2>
                    <div class="interested-bx general-bx p-3">
                        <ul>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest1" name="">
                                    <label for="interest1">Business</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest2" name="">
                                    <label for="interest2">Web Design</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest3" name="">
                                    <label for="interest3">Marketing</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest4" name="">
                                    <label for="interest4">Programming</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest5" name="">
                                    <label for="interest5">Advertising</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest6" name="">
                                    <label for="interest6">Video Game</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest7" name="">
                                    <label for="interest7">Financial</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-checkbox">
                                    <input type="checkbox" id="interest8" name="">
                                    <label for="interest8">Development</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="step-bxs-main cf">
                    <h2>I'm here because I want to... </h2>
                    <div class="wanto-bx general-bx p-3">
                        <ul class="d-md-flex justify-content-between">
                            <li>
                                <div class="flat-radiobtn">
                                    <input type="radio" id="wantto1" name="">
                                    <label for="wantto1">Build credit</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-radiobtn">
                                    <input type="radio" id="wantto2" name="">
                                    <label for="wantto2">Learn new skills</label>
                                </div>
                            </li>
                            <li>
                                <div class="flat-radiobtn">
                                    <input type="radio" id="wantto3" name="">
                                    <label for="wantto3">Both</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="step-bxs-main text-center cf">
                    <button type="submit" class="main-btn lg-btn  mt-2 mb-3">
                        NEXT <i class="icon-rgt-arrow"></i>
                    </button>
                    <p class="no-login">Hi Sarah you are logged in.. If you want to  <a href="">Logout</a></p>
                </div>
            </div>
        </div>
    </div>
</div>