<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-2"></div>
                <div class="col-md-12 col-lg-8">
                    <h1>My Notifications</h1>
                    <div class="mynotification-sec mb-4 cf">
                        <div class="general-bx cf">
                            <ul>
                                <li>
                                    <figure><img src="assets/images/notify-user-img.jpg"></figure>
                                    <div class="mynotify-info">
                                        <h4>Mariant Sagun</h4>
                                        <small>1 Day Ago</small>
                                        <p>The next 12 days, we're sharing team projects using creativity to give back. Stay tuned on our Today page for 12 celebrations of kindness.
                                            page for 12 celebrations of kindness.</p>
                                    </div>
                                </li>
                                <li>
                                    <figure><img src="assets/images/notify-user-img.jpg"></figure>
                                    <div class="mynotify-info">
                                        <h4>Mariant Sagun</h4>
                                        <small>1 Day Ago</small>
                                        <p>The next 12 days, we're sharing team projects using creativity to give back. Stay tuned on our Today page for 12 celebrations of kindness.
                                            page for 12 celebrations of kindness.</p>
                                    </div>
                                </li>
                                <li>
                                    <figure><img src="assets/images/notify-user-img.jpg"></figure>
                                    <div class="mynotify-info">
                                        <h4>Mariant Sagun</h4>
                                        <small>1 Day Ago</small>
                                        <p>The next 12 days, we're sharing team projects using creativity to give back. Stay tuned on our Today page for 12 celebrations of kindness.
                                            page for 12 celebrations of kindness.</p>
                                    </div>
                                </li>
                                <li>
                                    <figure><img src="assets/images/notify-user-img.jpg"></figure>
                                    <div class="mynotify-info">
                                        <h4>Mariant Sagun</h4>
                                        <small>1 Day Ago</small>
                                        <p>The next 12 days, we're sharing team projects using creativity to give back. Stay tuned on our Today page for 12 celebrations of kindness.
                                            page for 12 celebrations of kindness.</p>
                                    </div>
                                </li>
                                <li>
                                    <figure><img src="assets/images/notify-user-img.jpg"></figure>
                                    <div class="mynotify-info">
                                        <h4>Mariant Sagun</h4>
                                        <small>1 Day Ago</small>
                                        <p>The next 12 days, we're sharing team projects using creativity to give back. Stay tuned on our Today page for 12 celebrations of kindness.
                                            page for 12 celebrations of kindness.</p>
                                    </div>
                                </li>
                                <li>
                                    <figure><img src="assets/images/notify-user-img.jpg"></figure>
                                    <div class="mynotify-info">
                                        <h4>Mariant Sagun</h4>
                                        <small>1 Day Ago</small>
                                        <p>The next 12 days, we're sharing team projects using creativity to give back. Stay tuned on our Today page for 12 celebrations of kindness.
                                            page for 12 celebrations of kindness.</p>
                                    </div>
                                </li>
                                <li>
                                    <figure><img src="assets/images/notify-user-img.jpg"></figure>
                                    <div class="mynotify-info">
                                        <h4>Mariant Sagun</h4>
                                        <small>1 Day Ago</small>
                                        <p>The next 12 days, we're sharing team projects using creativity to give back. Stay tuned on our Today page for 12 celebrations of kindness.
                                            page for 12 celebrations of kindness.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <nav aria-label="..." class="text-center">
                        <ul class="pagination pagination-sm justify-content-center">
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">
                              1
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                        </ul>
                      </nav>
                </div>
                <div class="col-md-12 col-lg-2"></div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>