<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
                 
                <div class="col-md-12 col-lg-4 col-xl-3 mb-3">
                    <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS START   ***********  -->
                        <div class="is-dotted-bx">
                            <em>LEFT MENU</em>
                            <a href="javascript:void(0)" class="is-dotted-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                            </a>
                        </div>
                        <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS END   ***********  -->
                    <div class="general-bx left-menu lft-nav cf">
                        <ul>
                            <li><a href="">Content Library</a></li>
                            <li><a href="" class="active">Favorites</a></li>
                            <li><a href="">My Material</a></li>
                            <li><a href="">My Plan</a></li>
                            <li><a href="">Credit Summary</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 col-xl-9 mb-3">
                    <h1>Favorites</h1>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-4 d-flex align-items-stretch mb-4">
                            <div class="general-bx mycontent-bx text-center cf">
                                <div class="content-img">
                                    <figure>
                                        <img src="assets/images/library-img1.jpg">
                                    </figure>
                                </div>
                                <h2><a href="">Just Borrowing for Now</a></h2>
                                <span>Health & Wellness</span>
                                <div class="d-flex justify-content-center content-icons mt-3 cf">
                                    <div class="circle-btn">
                                        <a href="" class="width40 font18">
                                            <i class="icon-like"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="..." class="text-center">
                        <ul class="pagination pagination-sm justify-content-center">
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">
                              1
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>