<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
                 
                <div class="col-md-12 col-lg-4 col-xl-3 mb-3">
                    <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS START   ***********  -->
                        <div class="is-dotted-bx">
                            <em>LEFT MENU</em>
                            <a href="javascript:void(0)" class="is-dotted-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                            </a>
                        </div>
                        <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS END   ***********  -->
                    <div class="general-bx left-menu lft-nav cf">
                        <ul>
                            <li><a href="">Content Library</a></li>
                            <li><a href="">Favorites</a></li>
                            <li><a href="">My Material</a></li>
                            <li><a href="" class="active">My Plan</a></li>
                            <li><a href="">Credit Summary</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 col-xl-9 mb-3">
                    <h1>Upgrade My Plan</h1>
                    <div class="upgrade-plan cf">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
                                <div class="member-plan-bx text-center general-bx cf">
                                    <h4>Establish</h4>
                                    <h2>
                                        <small>$</small>
                                        <span>9.95</span>
                                        <sub>/mo</sub>
                                    </h2>
                                    <p>$1,000 Spending Limit</p>
                                    <p>4.975% Utilization</p>
                                    <p>Getting Started Content</p>
                                    <p>0% Interest</p>
                                    <p>No Fee Guarantee</p>
                                    <div class="active-btn">
                                        <button type="submit" class="outer-main-btn md-btn text-capitalize">Upgrade</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
                                <div class="member-plan-bx text-center general-bx selected cf">
                                    <h4>Build & Learn</h4>
                                    <h2>
                                        <small>$</small>
                                        <span>19.95</span>
                                        <sub>/mo</sub>
                                    </h2>
                                    <p>$3,000 Spending Limit</p>
                                    <p>3.325% Utilization</p>
                                    <p>High Quality Video Content</p>
                                    <p>0% Interest</p>
                                    <p>No Fee Guarantee</p>
                                    <div class="active-btn">
                                        <button type="submit" class="outer-main-btn md-btn text-capitalize" disabled>Selected</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
                                <div class="member-plan-bx text-center general-bx cf">
                                    <h4>Improve</h4>
                                    <h2>
                                        <small>$</small>
                                        <span>29.95</span>
                                        <sub>/mo</sub>
                                    </h2>
                                    <p>$5,000 Spending Limit</p>
                                    <p>2.9% Utilization</p>
                                    <p>Certification Level Content</p>
                                    <p>0% Interest</p>
                                    <p>No Fee Guarantee</p>
                                    <p>Maximum Credit Boost</p>
                                    <div class="active-btn">
                                        <button type="submit" class="outer-main-btn md-btn text-capitalize">Upgrade</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="note-info"><i class="fa fa-exclamation-circle"></i>For the maximum credit score impact as well as the highest quality content, choose the Improve plan.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>