<app-header-before></app-header-before>
<!-- <div class="loader-outer">
    <div class="loader-img">
        <figure>
            <img src="assets/images/loader-main.gif">
        </figure>
    </div>
</div> -->
<div class="page-wrap">
      <!-- *********************** LANDING BANNER SECTION START  *********************** -->
      <div class="banner-sec d-lg-flex align-items-center cf" style="background-image: url(assets/images/landing-bg.jpg);">
          <div class="col-md-5 col-lg-5 mac-outer-sec cf cf">
            <div class="mac-main-frame cf">
                <div class="mac-black-frame">
                    <figure>
                      <img src="assets/images/landing-banner1.jpg">
                    </figure>
                </div>
            </div>
            <div class="mac-stand-img text-center">
              <img src="assets/images/mac-stand-img.png">
            </div>
          </div>
          <div class="container">
              <div class="row d--md-flex align-items-center">
                  <div class="col-md-12 col-lg-7 order-md-1">
                      <div class="landing-caption cf">
                          <h1>Build Credit.</h1>
                          <h2>Gain Knowledge.</h2>
                          <p>Improving 75% if your credit score by providing a high quality education.</p>
                          <div class="free-today-form mt-4 cf">
                                <form class="form-inline">
                                    <div class="form-group">
                                    <label for="inputPassword2" class="sr-only">Password</label>
                                    <input type="password" class="is-form-control" id="inputPassword2" placeholder="Enter Email Address">
                                    </div>
                                    <button type="submit" class="second-btn lg-btn">Confirm identity</button>
                                </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- *********************** LANDING BANNER SECTION END  *********************** -->

      <!-- *********************** HOW IT WORKS SECTION START  *********************** -->
      <div class="howwork-sec cf">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-lg-4">
                      <div class="how-work-bx text-center cf">
                          <figure>
                              <img src="assets/images/how-work-img1.png">
                          </figure>
                          <h2>Get Started for Free</h2>
                          <p>Create a free account today to browse our easy to use platform! Preview our high quality content, when are ready to build, establish and improve your credit, choose your plan to get started.</p>
                      </div>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <div class="how-work-bx text-center cf">
                        <figure>
                            <img src="assets/images/how-work-img2.png">
                        </figure>
                        <h2>Choose Your Plan</h2>
                        <p>Based on your goals, interests & budget, you may choose the plan that best fits your needs. All plans will give you access to high quality material, as well as build, establish and improve credit.</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="how-work-bx text-center cf">
                        <figure>
                            <img src="assets/images/how-work-img3.png">
                        </figure>
                        <h2>Learn & Build</h2>
                        <p>Our high quality content library is made up of 10,000+ hours of video courses, 3,000+ ebooks, quizzes, checklists, certifications and more! Each time you make your monthly payment, we report that payment to the major credit bureaus.</p>
                    </div>
                </div>
              </div>
          </div>
      </div>

      <!-- *********************** STEP PROCESS LANDING PAGE  SECTION START  *********************** -->
      <div class="step-process-sec cf">
          <div class="container">
              <div class="row">
                    <div id="main" class="main-container col-md-12 col-lg-5">		
                        <div id="slide01" class="slide">
                            <div class="pin-wrapper">
                                <div class="wrapper"><img src="assets/images/mobile-step1-img.png"></div>
                            </div>
                        </div>
                        <div id="slide02" class="slide">
                            <div class="pin-wrapper">
                                <div class="wrapper"><img src="assets/images/mobile-step2-img.png"></div>
                            </div>
                        </div>
                        <div id="slide03" class="slide">
                            <div class="pin-wrapper">
                                <div class="wrapper"><img src="assets/images/mobile-step3-img.png"></div>
                            </div>
                        </div>
                        <div id="slide04" class="slide">
                            <div class="pin-wrapper">
                                <div class="wrapper"><img src="assets/images/mobile-step4-img.png"></div>
                            </div>
                        </div>
                        <div id="slide05" class="slide">
                            <div class="pin-wrapper">
                                <div class="wrapper"><img src="assets/images/mobile-step5-img.png"></div>
                            </div>
                        </div>
                        <div id="slide06" class="slide">
                            <div class="pin-wrapper">
                                <div class="wrapper"><img src="assets/images/mobile-step6-img.png"></div>
                            </div>
                        </div>
                    </div>
                  <div class="col-md-12 col-lg-7 d-flex align-items-center flex-wrap">
                        <div class="slide">
                            <div class="pin-wrapper">
                                <figure>
                                    <img src="assets/images/mobile-step1-img.png">
                                </figure>
                                <div class="step-bx-rgt cf">
                                    
                                    <h2><span>01</span>Join for Free</h2>
                                    <p>Create your account for free with just your name and email address.</p>
                                    <ul>
                                        <li>Browse the content library</li>
                                        <li>Understand the benefits</li>
                                        <li>All before paying a single dollar</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                        <div class="slide">
                            <div class="pin-wrapper">
                                <figure>
                                    <img src="assets/images/mobile-step2-img.png">
                                </figure>
                                <div class="step-bx-rgt cf">
                                    
                                    <h2><span>02</span>Build Your Profile</h2>
                                    <p>Tell us a bit about what your interested in and what brings you here. This will allow us to create a custom experience tailored specifically for you!</p>
                                    <ul>
                                        <li>Choose multiple categories based on your interests</li>
                                        <li>We will create a custom library of high quality material.</li>
                                        <li>When your ready to build credit, choose your plan and access your custom library!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                        <div class="slide">
                            <div class="pin-wrapper">
                                <figure>
                                    <img src="assets/images/mobile-step3-img.png">
                                </figure>
                                <div class="step-bx-rgt cf">
                                    
                                    <h2><span>03</span>High Quality Content</h2>
                                    <p>We take our content seriously, from web development to music lessons to graphic design, you will have access to certification level educational material. Our members have access to career changing material.</p>
                                    <ul>
                                        <li>Preview your custom catalog</li>
                                        <li>Highest quality, certification-level content</li>
                                        <li>Career-changing knowledge base</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    
                        <div class="slide">
                            <div class="pin-wrapper">
                                <figure>
                                    <img src="assets/images/mobile-step4-img.png">
                                </figure>
                                <div class="step-bx-rgt cf">
                                    
                                    <h2><span>04</span>Unlock Your Future</h2>
                                    <p>As soon as you are ready to go, choose your plan level to activate the benefits that fit your needs. Once you choose your plan, you will have access to your content library & will start building, improving & establishing credit.
                                    </p>
                                    <ul>
                                        <li>Plan options for any budget</li>
                                        <li>All plans build credit</li>
                                        <li>Change plans at anytime</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="pin-wrapper">
                                <figure>
                                    <img src="assets/images/mobile-step5-img.png">
                                </figure>
                                <div class="step-bx-rgt cf">
                                    
                                    <h2><span>05</span>Improve Your Life</h2>
                                    <p>We make it easy to improve multiple aspects of your life in one platform. </p>
                                    <p>Need to improve your credit? Add positive history every payment you make. Want a career change? Get certified in web development. </p>
                                    <ul>
                                        <li>Learn career changing skills</li>
                                        <li>Improve your credit</li>
                                        <li>Endless possibilities!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <div class="pin-wrapper">
                                <figure>
                                    <img src="assets/images/mobile-step6-img.png">
                                </figure>
                                <div class="step-bx-rgt cf">
                                   
                                    <h2><span>06</span>Get Started Today</h2>
                                    <p>Still have questions? Browse our Help Center or Get In Touch with support. </p>
                                </div>
                            </div>
                        </div>

                  </div>
              </div>
          </div>
      </div>

      <!-- *********************** POSITIVE CREDIT SCORE % LANDING PAGE  SECTION START  *********************** -->
      <div class="credit-impect-sec cf">
          <div class="container">
            <h2>Positively Impact 75% of your Credit Score</h2>
              <ul>
                  <li>
                      <div class="impect-num">
                          <img src="assets/images/number-1.png">
                      </div>
                      <div class="impect-bx cf">
                          <h3>Positively Increase Available Revolving Debt</h3>
                          <p>Do you find yourself getting close to, or even over, your credit card limits each month? Revolving debt ratios make up 30% of your credit score. Our Plans are designed to add available debt to your revolving credit.</p>
                      </div>
                  </li>
                  <li>
                    <div class="impect-num">
                        <img src="assets/images/number-2.png">
                    </div>
                    <div class="impect-bx cf">
                        <h3>Positively Decrease Debt Ratios</h3>
                        <p>our revolving debt ratio is a reflection of how much you spend on your credit cards. If your debt ratio is over 60% you are negatively impacting your credit! A Krediyo membership is designed to keep debt utilization well below 10%, drastically improving your overall debt utilization ratio!</p>
                    </div>
                </li>
                <li>
                    <div class="impect-num">
                        <img src="assets/images/number-3.png">
                    </div>
                    <div class="impect-bx cf">
                        <h3>Positively Add On Time Payment History</h3>
                        <p>Once your tradeline is created, 40% of your credit score has already been improved! The additional 35% impact is your payment history, earned by every membership payment you make. You will build health to your credit report as well as positively impact your payment history.</p>
                    </div>
                </li>
            </ul>
          </div>
      </div>

      <!-- *********************** DISCOVER CONTENT CAROUSE LANDING PAGE  SECTION START  *********************** -->
      <div class="discover-sec">
          <div class="container-fluid">
            <div class="content-tabs cf">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                    <a class="nav-link active" id="content-tab1" data-toggle="tab" href="#content1" role="tab" aria-controls="content1" aria-selected="true">Animation</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="content-tab2" data-toggle="tab" href="#content2" role="tab" aria-controls="content2" aria-selected="false">designed</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="content-tab3" data-toggle="tab" href="#content3" role="tab" aria-controls="content3" aria-selected="false">Illustration</a>
                    </li>
                    <li class="nav-item">
                     <a class="nav-link" id="content-tab4" data-toggle="tab" href="#content4" role="tab" aria-controls="content4" aria-selected="false">Lifestyle</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="content-tab5" data-toggle="tab" href="#content5" role="tab" aria-controls="content5" aria-selected="false">Photo & Film</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="content-tab6" data-toggle="tab" href="#content6" role="tab" aria-controls="content6" aria-selected="false">Business</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" id="content-tab7" data-toggle="tab" href="#content7" role="tab" aria-controls="content7" aria-selected="false">Writting</a>
                    </li>
                </ul>
            </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="content1" role="tabpanel" aria-labelledby="content-tab1">
                    <div class="owl-carousel owl-theme content-carousel">
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img1.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img2.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img3.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img4.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img1.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img2.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img3.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="land-content-bx cf">
                                <figure>
                                    <img src="assets/images/content-img4.jpg">
                                </figure>
                                <div class="card">
                                    <h3><a href="">Unlocking Your Potential: 5 Exercises to Build Creative Confidence</a></h3>
                                    <span>Emma Gannon</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="content-tab2">2...</div>
                <div class="tab-pane fade" id="content3" role="tabpanel" aria-labelledby="content-tab3">3...</div>
                <div class="tab-pane fade" id="content4" role="tabpanel" aria-labelledby="content-tab4">4...</div>
                <div class="tab-pane fade" id="content5" role="tabpanel" aria-labelledby="content-tab5">5...</div>
                <div class="tab-pane fade" id="content6" role="tabpanel" aria-labelledby="content-tab6">6...</div>
                <div class="tab-pane fade" id="content7" role="tabpanel" aria-labelledby="content-tab7">7...</div>
              </div>
              
          </div>
      </div>

       <!-- *********************** MEMBERSHIP PLAN LANDING PAGE  SECTION START  *********************** -->
       <div class="land-member-plan-sec cf">
           <div class="container">
               <h2>Membership  Plans</h2>
               <div class="row">
                   <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
                       <div class="member-plan-bx text-center cf">
                            <h4>Establish</h4>
                            <h2>
                                <small>$</small>
                                <span>9.95</span>
                                <sub>/mo</sub>
                            </h2>
                            <p>$1,000 Spending Limit</p>
                            <p>4.975% Utilization</p>
                            <p>Getting Started Content</p>
                            <p>0% Interest</p>
                            <p>No Fee Guarantee</p>
                            <div class="active-btn">
                                <button type="submit" class="outer-main-btn md-btn w-100">Activate</button>
                            </div>
                       </div>
                   </div>
                   <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
                    <div class="member-plan-bx text-center cf">
                         <h4>Build & Learn</h4>
                         <h2>
                             <small>$</small>
                             <span>19.95</span>
                             <sub>/mo</sub>
                         </h2>
                         <p>$3,000 Spending Limit</p>
                         <p>3.325% Utilization</p>
                         <p>High Quality Video Content</p>
                         <p>0% Interest</p>
                         <p>No Fee Guarantee</p>
                         <div class="active-btn">
                             <button type="submit" class="outer-main-btn md-btn w-100">Activate</button>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 d-flex align-items-stretch">
                    <div class="member-plan-bx text-center cf">
                         <h4>Improve</h4>
                         <h2>
                             <small>$</small>
                             <span>29.95</span>
                             <sub>/mo</sub>
                         </h2>
                         <p>$5,000 Spending Limit</p>
                         <p>2.9% Utilization</p>
                         <p>Certification Level Content</p>
                         <p>0% Interest</p>
                         <p>No Fee Guarantee</p>
                         <p>Maximum Credit Boost</p>
                         <div class="active-btn">
                             <button type="submit" class="outer-main-btn md-btn w-100">Activate</button>
                         </div>
                    </div>
                </div>
               </div>
           </div>
       </div>

        <!-- *********************** TESTIMONIAL LANDING  SECTION START  *********************** -->
        <div class="testimonial-sec cf">
            <div class="contianer-fluid">
                <div class="owl-carousel owl-theme testimonial-carousel">
                    <div class="item">
                        <div class="testimonial-bx cf">
                            <figure>
                                <img src="assets/images/testimonial-img1.jpg">
                            </figure>
                            <h3>Thanha Nghia</h3>
                            <span>CEO, Fitness TN Gym</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-bx cf">
                            <figure>
                                <img src="assets/images/testimonial-img1.jpg">
                            </figure>
                            <h3>Thanha Nghia</h3>
                            <span>CEO, Fitness TN Gym</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-bx cf">
                            <figure>
                                <img src="assets/images/testimonial-img1.jpg">
                            </figure>
                            <h3>Thanha Nghia</h3>
                            <span>CEO, Fitness TN Gym</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-bx cf">
                            <figure>
                                <img src="assets/images/testimonial-img1.jpg">
                            </figure>
                            <h3>Thanha Nghia</h3>
                            <span>CEO, Fitness TN Gym</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-bx cf">
                            <figure>
                                <img src="assets/images/testimonial-img1.jpg">
                            </figure>
                            <h3>Thanha Nghia</h3>
                            <span>CEO, Fitness TN Gym</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-bx cf">
                            <figure>
                                <img src="assets/images/testimonial-img1.jpg">
                            </figure>
                            <h3>Thanha Nghia</h3>
                            <span>CEO, Fitness TN Gym</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *********************** FAQs QUESTION HAVE LANDING  SECTION START  *********************** -->
        <div class="faq-sec cf">
            <div class="container">
                <h2>Have questions?</h2>
                <div class="row">
                    <div class="col-md-12 col-lg-1"></div>
                    <div class="col-md-12 col-lg-10">
                        <ngb-accordion [closeOthers]="true" activeIds="static-1">
                            <ngb-panel id="static-1" title="How does Revolv work?">
                              <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-2" title="How long does the membership last?">
                              <ng-template ngbPanelContent>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-3" title="Are there other fees?">
                                <ng-template ngbPanelContent>
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel id="static-4" title="Which bureaus does Revolv report to?">
                                <ng-template ngbPanelContent>
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </ng-template>
                              </ngb-panel>
                              <ngb-panel id="static-5" title="What type of account do I receive?">
                                <ng-template ngbPanelContent>
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                                  aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                  sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </ng-template>
                              </ngb-panel>
                            
                        </ngb-accordion>
                    </div>
                    <div class="col-md-12 col-lg-1"></div>
                </div>
                
            </div>
        </div>
    
</div>
<app-footer></app-footer>