<app-header-after></app-header-after>
<div class="page-wrap">
    <div class="inner-sec cf">
        <div class="container">
            <div class="row">
               
                <div class="col-md-12 col-lg-4 col-xl-3 mb-3">
                     <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS START   ***********  -->
                     <div class="is-dotted-bx">
                        <em>LEFT MENU</em>
                        <a href="javascript:void(0)" class="is-dotted-to    ggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        </a>
                    </div>
                    <!-- ***************   LEFT SIDE MENUBAR AFTER LOGIN TOGGLE CLASS END   ***********  -->
                    <div class="general-bx left-menu lft-nav cf">
                        <ul>
                            <li><a href="">Content Library</a></li>
                            <li><a href="">Favorites</a></li>
                            <li><a href="">My Material</a></li>
                            <li><a href="">My Plan</a></li>
                            <li><a href="">Credit Summary</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 col-xl-8 mb-3">
                    <h1>User Profile</h1>
                    <div class="general-bx minheight cf">
                        <div class="user-pro-outer cf">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="profile-img text-center cf">
                                        <figure>
                                            <img src="assets/images/profile-pucture.jpg">
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-md-9 col-lg-9">
                                    <div class="profile-info cf">
                                        <div class="circle-btn">
                                            <a href="" class="width40 font22">
                                                <i class="icon-edit"></i>
                                            </a>
                                        </div>
                                        <h3>Sarah Downey</h3>
                                        <span>SSN: 078-05-1120</span>
                                        <p>sarah.dawney@gmail.com</p>
                                        <p>Overnight Deposits 1200 Energy Park Dr. St. Paul, MN 55108 </p>
                                        <div class="d-md-flex justify-content-start mb-3">
                                            <small>+1 9483 930 2832</small>
                                            <small><i class="icon-calendar"></i>Jan 29, 1993</small>
                                        </div>
                                        <button type="button" class="main-btn md-btn text-capitalize">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>